<!DOCTYPE html>
<html>
<head>
<title>RentPay</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<header>
    <img class="logo" src="/images/logo.png" width="200" height="200">
<nav>
    <ul class="nav_links">
        <li><a href ="/" style="text-decoration:underline;font-weight: bold;">Home</a></li>
        <li><a href ="/login">Log in</a></li>
        <li><a href ="/register">Sign up</a></li>


    </ul>
</nav>
</header>

<div class="container">
    <div class="img3">
        <img src="/images/BG_img2.png" width="766" height="641" style="margin-left: -70px; margin-top: -50px;">
        </div>
<div class="content">
    <h1 style="font-size:40;">Collect the rent easily and effectively.</h1>
    <p>Rent pay makes the payment of rent online, efficient<br>
         and easier.</p>
</div>
<button class="button">Sign up now</button>
</div>

</body>
</html>